.navbar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(#dcf6da,#b6dbb3);
  
  transition: 0.5s;
  height:55px;
}

.logo {
  width: 60px;
  cursor: pointer;
  margin-left: 30px;
  margin-right: 50px; /* Keeps the logo on the left */
 
}

ul {
  flex: 1;
  list-style: none;
  display: flex; /* Set flexbox to arrange the elements */
  justify-content: flex-start; /* Ensure items start from left */
}

ul li {
  display: inline-block;
  margin: 10px 20px;
  font-size: 18px;
  cursor: pointer;
  transition: margin 0.3s; /* Smooth transition for margin changes */
}

.toggle-icon {
  width: 30px;
  cursor: pointer;
  margin-right: 170px;
  
}

button {
  cursor: pointer;
  width: 20px;
}

/* Dark mode styles */
.dark .navbar {
  background: linear-gradient(#579040, #487C3E);
  color: #ffffff;
}

/* Add specific margins to move each item individually */
ul li.ads {
  margin-right:  560px; /* Adjust this to move "All Ads" */
}

ul li.chat {
  padding: 10px,20%;
  margin-left: 80px; /* Adjust this to move "Chat" */
  margin-right: 0px;
}


